* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: black;
}

.clock {
    border: 1px solid #606060;
    color: azure;
    padding: 20px;
    border-radius: 5px;
    background-color: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.clock div {
    font-size: 2em;
}

.clock ul {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 90px;
    gap: 15px;
    padding: 0;
}

.clock li {
    display: inline-block;
}

@media (max-width: 800px) {
    .clock div {
        font-size: 1.5em;
    }
    .clock ul {
        font-size: 60px;
        gap: 10px;
    }
}

@media (max-width: 400px) {
    .clock div {
        font-size: 1.2em;
    }
    .clock ul {
        font-size: 40px;
        gap: 5px;
    }
}

#date {
    font-size: 20px !important;
    margin-bottom: 10px;
}